<div class="container">
  <div class="content">
    <div class="form">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <div class="spacer">
          <input
          pInputText
            class="input"
            type="text"
            placeholder="Email"
            formControlName="email"

          />
        </div>

        <div class="spacer">
          <p-password class="input"
          type="password"
          placeholder="Password"
          formControlName="password"></p-password>
        </div>
        <div class="spacer" id="sendSpacer">
          <button pButton pRipple type="submit" label="Send" class="p-button-warning"></button>
        </div>
      </form>
    </div>
  </div>
</div>
